# App Configuration
APP_NAME="Snacksy Cafe And Restro CRM"
APP_ENV="development"
APP_URL="http://localhost:3000"
TIMEZONE="Asia/Kathmandu"
DEFAULT_CURRENCY="NPR"

# Database Configuration (SQLite for local zero-dependency development or PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# Auth Secret
AUTH_SECRET="development-secret-key-snacksy-crm-32-bytes"
NEXTAUTH_URL="http://localhost:3000"
